@model IEnumerable<UpperAcademy.Dominio.Modelo.Aluno>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Alunos</title>
</head>
<body>
  <h1> Lista de alunos</h1>
    <p>
        @Html.ActionLink("Novo", "Adicionar")
    </p>
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                Data de Nascimento
            </th>
            <th>
                Operações
            </th>
        </tr>
    
    @foreach (var item in Model.OrderBy(n => n.Nome)) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_Nascimento)
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { id=item.ID }) |
                @Html.ActionLink("Detalhes", "Detalhar", new { id=item.ID }) |
                @Html.ActionLink("Excluir", "Excluir", new { id=item.ID })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
