@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Página Principal</title>
</head>
<body>
  <h1> Sistema UpperAcademy </h1>
    <div>
        <h2> Menu Principal </h2>
        @Html.ActionLink("Aluno", "Aluno") <br />
        @Html.ActionLink("Professor", "Index") <br />
        @Html.ActionLink("Turma", "Index") <br />
        @Html.ActionLink("Midia", "Index") <br />
        @Html.ActionLink("Emprestimo", "Index") <br />
        @Html.ActionLink("Devolução", "Index") <br />
    </div>
</body>
</html>
